@model IEnumerable<HeThongBanVeMayBay.Models.HANGBAY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageAviation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDHangBay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHangbay)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content(item.ImageAviation)" height="100" width="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDHangBay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHangbay)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
