@using HeThongBanVeMayBay.Models;
@model IEnumerable<HeThongBanVeMayBay.Models.CHUYENBAY>
@{
    Layout = null;
}
<h2>Chiều đi</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDChuyenBay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HangBay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDSanBayDi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDSanBayDen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayBay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioBay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianToiDuKien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoGheHang1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoGheHang2)
        </th>
        <th></th>
    </tr>
    @foreach (CHUYENBAY chuyenbay in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => chuyenbay.IDChuyenBay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => chuyenbay.HangBay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => chuyenbay.IDSanBayDi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => chuyenbay.IDSanBayDen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => chuyenbay.GiaTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => chuyenbay.NgayBay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => chuyenbay.GioBay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => chuyenbay.ThoiGianToiDuKien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => chuyenbay.SoGheHang1)
            </td>
            @if (chuyenbay.SoGheHang2 < 1)
            {
                <td>
                    <span style="color: red;">
                        Hết vé
                    </span>
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => chuyenbay.SoGheHang2)
                </td>
            }
            <td>
                @*<a href="/BookTicket/OrderOneWay/@chuyenbay.ID" class="btn btn-default">Chọn</a>*@
                <input type="radio" name="motchieu" value="@chuyenbay.ID" />
                @if (Convert.ToString(Session["ReturnDate"]) == "")
                {
                    <input type="hidden" name="khuhoi" value="0" />
                    Session.Remove("ReturnDate");
                }
            </td>
        </tr>
    }
</table>
