@model HeThongBanVeMayBay.Models.MAYBAY

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MAYBAY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDMayBay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDMayBay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDangBa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDangBa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiMayBay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiMayBay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HangBay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HangBay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SucChuaToiDa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SucChuaToiDa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
