@model IEnumerable<HeThongBanVeMayBay.Models.CHUYENBAY>
@using HeThongBanVeMayBay.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDChuyenBay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HangBay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDSanBayDi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDSanBayDen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayBay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioBay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianToiDuKien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoGheHang1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoGheHang2)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDChuyenBay)
            </td>
            @using (var context = new QLBANVEMAYBAYEntities())
            {
                foreach (var item1 in context.HANGBAYs)
                {
                    if (item.HangBay == item1.IDHangBay)
                    {
                        <td>
                            <img src="@Url.Content(item1.ImageAviation)" width="100" height="50" />
                            @*@Html.DisplayFor(modelItem => item.HangBay)*@
                        </td>
                    }
                }
            }
            <td>
                @Html.DisplayFor(modelItem => item.SANBAY.TenSB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SANBAY1.TenSB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioBay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianToiDuKien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoGheHang1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoGheHang2)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
